<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="generator.properties"></properties>
	

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${generator.jdbc.driver}" />
				<property name="url" value="${generator.jdbc.url}" />
				<property name="username" value="${generator.jdbc.username}" />
				<property name="password" value="${generator.jdbc.password}" />
			</dataSource>
		</environment>
	</environments>


	<mappers>
		<package name="com.wp.xxpay.mapper" />
	</mappers>

</configuration>